@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,400,700");

@mixin extend-to-border {
  margin-left: -($ns-gutter-sm);
  margin-right: -($ns-gutter-sm);
  padding-left: $ns-gutter-sm;
  padding-right: $ns-gutter-sm;

  @include media-breakpoint-up(lg) {
    margin-left: -($ns-gutter);
    margin-right: -($ns-gutter);
    padding-left: $ns-gutter;
    padding-right: $ns-gutter;
  }
}

$font-size-base: 1.1rem;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.8;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";

$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-size-sm: ($font-size-base * 0.7) !default;

$ns-gutter: 4rem;
$ns-gutter-sm: 2rem;

$ns-border: 5px;

$ns-nav-height: 3rem;

$primary-color: #2b2255;// #0b486b; //#2b4799;c02942
$ns-accent-color: #f6941d; //#b6367d;
$border-color: rgba($primary-color, 0.2);

$line-height-base: 1.6;

$list-inline-padding: 1rem;

// Imports the parts of Bootstrap we use:

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/print";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
// @import "node_modules/bootstrap/scss/nav";
// @import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";

body {
  font-weight: $font-weight-normal;
}

::selection {
  background: $primary-color;
  color: white;
}

// Layout

.ns-container {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    overflow: hidden;
  }
}

header,
.main {
  padding: 0 $ns-gutter-sm;
  @include media-breakpoint-up(lg) {
    padding: 0 $ns-gutter;
  }
}

// header

header {
  background-color: $primary-color;
  background-image: radial-gradient(
  circle at top center,
  rgba($primary-color, 0.5),
  transparent
  ),
  linear-gradient(to left, $primary-color, transparent),
  linear-gradient(
  -45deg,
  rgba($primary-color, 0.3) 40%,
  transparent
  ),
  linear-gradient(to bottom, $ns-accent-color, $primary-color);
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  p {
    margin-bottom: 2rem;
  }
}

h1 {
  border-top: 1px solid rgba(white, 0.2);
  border-bottom: 1px solid rgba(white, 0.2);
  text-align: center;
  margin-bottom: 4rem;
  padding: 1rem 0;
  line-height: 0;
  position: relative;
  .logo-image {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
  }
  img {
    height: 100px;
  }
}
svg {
  fill: #fff;
  width: 70%;
}

// nav

.ns-nav {
  position: sticky;
  z-index: 2;
  top: 0;
  display: block;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid $border-color;
  border-top: 2px solid $primary-color;
  @include extend-to-border;

  ul {
    margin-bottom: 0;
    display: flex;
    align-items: stretch;
    min-height: $ns-nav-height;
    border-right: 1px solid $border-color;
  }
  li {
    flex: 1;
    display: flex;
    align-items: stretch;
    text-transform: uppercase;
    font-size: $font-size-sm;
  }
  a {
    flex: 1;
    display: block;
    justify-content: center;
    display: flex;
    align-items: center;
    color: rgba($primary-color, 0.6);
    border-left: 1px solid $border-color;
    transition: all ease 0.4s;
    font-size: 0.8rem;
    &:hover {
      background-color: $primary-color;
      color: white;
      text-decoration: none;
      box-shadow: 0rem 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
    }
  }
}

// mian

.main {
  @include media-breakpoint-up(lg) {
    overflow-y: scroll;
  }
}

section {
  padding: 2em 0 3rem 0;
  &:last-of-type {
    border: none;
  }
}

h2 {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-base;
  padding: 1rem;
  padding-top: 2rem;
  border-bottom: 1px solid $border-color;
  margin-bottom: 2em;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  color: $primary-color;
  z-index: 1;
  top: calc(#{$ns-nav-height} + 3px);
  @include extend-to-border;
}

h3 {
  margin-top: 2rem;
}

.logo-galery {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  a {
    filter: grayscale(1);
    transition: all ease 0.3s;
    &:hover {
      filter: grayscale(0);
    }
  }
  img {
    width: 100%;
  }
}

// footer
footer {
  background-color: darken($primary-color, 10%);
  background-image: linear-gradient(
  to right,
  rgba(black, 0.2),
  transparent 1rem
  );
  color: #fff;
  padding-top: 3rem;

  h2 {
    background-color: darken($primary-color, 10%);
    background-image: linear-gradient(
    to right,
    rgba(black, 0.2),
    transparent 1rem
    );
    border-bottom-color: rgba(white, 0.2);
    color: white;
  }

  .btn-group {
    margin-bottom: 6rem;
    display: flex;
    filter: opacity(.6);
    &:hover {
      filter: opacity(1);
    }
    .btn {
      flex-grow: 1 !important;
    }
  }

  .footnote {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.6);
    font-weight: $font-weight-light;
    font-size: $font-size-sm;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    filter: opacity(.6);
    p {
      flex: 0 0 auto;
    }
    img {
      width: 120px;
      display: block;
      margin-bottom: 1rem;
    }
    a {
      color: rgba(255, 255, 255, 0.9);
    }
    @include extend-to-border;
  }

  @include extend-to-border;
  @include media-breakpoint-up(lg) {
    .btn-group {
      display: inline-flex;
      .btn {
        flex-grow: 0;
      }
    }
  }
}
