@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,400,700");

@mixin extend-to-border {
  margin-left: -($ns-gutter-sm);
  margin-right: -($ns-gutter-sm);
  padding-left: $ns-gutter-sm;
  padding-right: $ns-gutter-sm;

  @include media-breakpoint-up(lg) {
    margin-left: -($ns-gutter);
    margin-right: -($ns-gutter);
    padding-left: $ns-gutter;
    padding-right: $ns-gutter;
  }
}

$font-size-base: 1rem;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.8;

$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont,
"Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
"Segoe UI Emoji", "Segoe UI Symbol";

$font-weight-light: 200 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-size-sm: ($font-size-base * 0.7) !default;

$ns-gutter: 4rem;
$ns-gutter-sm: 2rem;

$ns-border: 5px;

$ns-nav-height: 3rem;

$primary-color: #2b2255;// #0b486b; //#2b4799;c02942
$ns-accent-color: #f6941d; //#b6367d;
$warning:       $ns-accent-color !default;
$border-color: rgba($primary-color, 0.2);
$border-color-inverse: rgba(white, 0.2);

$line-height-base: 1.6;

$list-inline-padding: 1rem;

// Imports the parts of Bootstrap we use:

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/print";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
// @import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
// @import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
// @import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
// @import "node_modules/bootstrap/scss/input-group";
// @import "node_modules/bootstrap/scss/custom-forms";
// @import "node_modules/bootstrap/scss/nav";
// @import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
// @import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
// @import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
// @import "node_modules/bootstrap/scss/list-group";
// @import "node_modules/bootstrap/scss/close";
// @import "node_modules/bootstrap/scss/modal";
// @import "node_modules/bootstrap/scss/tooltip";
// @import "node_modules/bootstrap/scss/popover";
// @import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";

body {
  font-weight: $font-weight-normal;
}

::selection {
  background: $primary-color;
  color: white;
}

// pre{ max-width: 100%!important;}


// Layout

.ns-container {
  min-height: 100vh;
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-areas: "nav main";
  }
}

.main {
  grid-area: main;
  padding: 0 $ns-gutter-sm;
  @include media-breakpoint-up(lg) {
    padding: 0 $ns-gutter;
  }
}

header {
  grid-area: nav;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: $primary-color;
  color: white;

  p {
    margin-bottom: 2rem;
  }

  @include media-breakpoint-up(md) {
    display: block;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

h1 {
  display: flex;
  align-items: center;
  margin: 0;

  @include media-breakpoint-up(md) {
    border-top: 1px solid $border-color-inverse;
    border-bottom: 1px solid $border-color-inverse;
    text-align: center;
    margin-bottom: 4rem;
    padding: 1rem 0;
    line-height: 0;
    position: relative;
    justify-content: center;
    margin-left: $ns-gutter-sm;
    margin-right: $ns-gutter-sm;
  }

  .logo-image {
    img {
      height: 3rem;
      margin-right: 1rem;
      display: block;
    }
    @include media-breakpoint-up(md) {
      position: absolute;
      left: 0;
      top: 20px;
      width: 100%;
      img {
        height: 70px;
        margin: 0;
        display: inline-block;
      }
    }
  }

  svg {
    height: 1.5rem;
    fill: #fff;
    @include media-breakpoint-up(md) {
     height: auto;
     width: 70%;
    }
  }
}



// nav

.ns-nav {
  position: absolute;
  width: 100%;
  transform: translateX(-100%);
  transition: all .2s ease-in-out;
  padding-top: 1rem;
  top: 3.5rem;
  bottom: 0;
  background-color: darken($primary-color, 10%);
  z-index: 2;

  &.is-open {
    transform: translateX(0);
  }

  @include media-breakpoint-up(md) {
    background-color: transparent;
    position: static;
    transform: translateX(0);
    padding-top: 0;
  }

  ul,
  li ul {
    @include list-unstyled;
  }

  a {
    display: block;
    padding: $spacer/1.5 $ns-gutter-sm;
    color: rgba(white,.6);
    &.active {
      color: white;
      background-color: $border-color-inverse;
    }
    &:hover {
      text-decoration: none;
      color: white;
    }

  }

  li ul a {
    padding-left: $ns-gutter-sm * 1.5;
    font-weight: nor
  }

}

// mian

.main {
}

section {
  padding: 2em 0 3rem 0;
  &:last-of-type {
    border: none;
  }
}

.description {
  background-color: darken($primary-color, 10%);
  color: white;
  // background: $ns-accent-color;
  @include extend-to-border;

}


h2 {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-size: $font-size-base;
  padding: 1rem;
  padding-top: 2rem;
  border-bottom: 1px solid $border-color;
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  color: $primary-color;
  z-index: 1;
  @include extend-to-border;
}

h3 {
  margin-top: 2rem;
  font-size: $h5-font-size;
}

.logo-galery {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;

  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  a {
    filter: grayscale(1);
    transition: all ease 0.3s;
    &:hover {
      filter: grayscale(0);
    }
  }
  img {
    width: 100%;
  }
}

// footer
footer {
  background-color: darken($primary-color, 10%);
  background-image: linear-gradient(
  to right,
  rgba(black, 0.2),
  transparent 1rem
  );
  color: #fff;
  padding-top: 3rem;

  h2 {
    background-color: darken($primary-color, 10%);
    background-image: linear-gradient(
    to right,
    rgba(black, 0.2),
    transparent 1rem
    );
    border-bottom-color: rgba(white, 0.2);
    color: white;
  }

  .btn-group {
    margin-bottom: 6rem;
    display: flex;
    filter: opacity(.6);
    &:hover {
      filter: opacity(1);
    }
    .btn {
      flex-grow: 1 !important;
    }
  }

  .footnote {
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.6);
    font-weight: $font-weight-light;
    font-size: $font-size-sm;
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    filter: opacity(.6);
    p {
      flex: 0 0 auto;
    }
    img {
      width: 120px;
      display: block;
      margin-bottom: 1rem;
    }
    a {
      color: rgba(255, 255, 255, 0.9);
    }
    @include extend-to-border;
  }

  @include extend-to-border;
  @include media-breakpoint-up(lg) {
    .btn-group {
      display: inline-flex;
      .btn {
        flex-grow: 0;
      }
    }
  }
}

pre {
  white-space:pre-wrap;
}

pre code {
  font-size: .8rem;
}
