<hr>

<nav class="text-center py-3" aria-label="Eclipse Foundation links">
    <ul class="list-style-none m-0">
        <li class="d-inline-block mx-2">
            <a href="https://www.eclipse.org/about/">Eclipse Foundation</a>
        </li>
        <li class="d-inline-block mx-2">
            <a href="https://www.eclipse.org/legal/privacy/">Privacy Policy</a>
        </li>
        <li class="d-inline-block mx-2">
            <a href="https://www.eclipse.org/legal/terms-of-use/">Terms of Use</a>
        </li>
        <li class="d-inline-block mx-2">
            <a href="https://www.eclipse.org/legal/">Legal Resources</a>
        </li>
    </ul>
</nav>

<p class="text-center text-gray f6 mt-2">
    Eclipse JNoSQL™ and JNoSQL™ are trademarks of the Eclipse Foundation.
</p>
