/* Responsive adjusts */

@media (min-width: 768px) {
  .navbar-nav>li {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .shrink .navbar-nav>li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .shrink .navbar-nav>li.btn-download {
    padding-top: 5px;
    padding-bottom: 5px;
  }

}

/* Apenas em dispositivos pequenos */
@media screen and (max-width:767px) {

  .navbar-transparent {
    background: #f0f6f5;
    border-color: transparent;
    color: #444;
  }

  .navbar-transparent .navbar-brand>img,.shrink .navbar-brand>img {
    max-height: 40px;
    margin-top: -10px;
  }

  .navbar-transparent .navbar-nav>li>a, .shrink .navbar-nav>li>a { font-size: 14px; }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: rgba(187, 187, 187, 0.18); }

}

@media (max-width: 1200px) {

}
